.button {
  background-color: red;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 10px 17px;
  cursor: pointer;
}

.success {
  background-color: #4caf50;
}

.button:hover,
.button:focus {
  background-color: rgb(150, 0 , 0);
}

.button:disabled {
  background: #bfbfbf;
  cursor: not-allowed;
}

/* CART
 * ============================== */

.Cart {
  color: #000;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  flex-direction: column;
  border-left: 1px solid #000;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.Cart--open {
  transform: translateX(0);
}

.Cart__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 15px;
  color: #000;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
  text-decoration: underline;
}

.Cart__header {
  padding: 20px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  color: #000;
}

.Cart__line-items {
  height: 59%;
  overflow-y: scroll;
  margin: 0;
  padding: 20px;
}

.Cart__footer {
  padding: 20px;
  border-top: 1px solid #000;
  flex: 0 0 auto;
}

.Cart__checkout {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.Cart-info {
  padding: 15px 20px 10px;
}

.Cart-info.total {
  padding-bottom: 30px;
}

.Cart-info__total {
  float: left;
  text-transform: uppercase;
}

.Cart-info__small {
  font-size: 11px;
}

.Cart-info__pricing {
  float: right;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: #000;
}

/* LINE ITEMS
 * ============================== */
.Line-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  position: absolute;
}

.Line-item__content {
  width: 100%;
  padding-left: 75px;
}

.Line-item__content-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.Line-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #000;
}

.Line-item__title {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.Line-item__price {
  color: #000;
  line-height: 23px;
  float: right;
  font-weight: 500;
  font-size: 15px;
  margin-right: 40px;
}

.Line-item__quantity-container {
  border: 1px solid #000;
  float: left;
  border-radius: 3px;
}

.Line-item__quantity-update {
  color: #000;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.Line-item__quantity-update-form {
  display: inline;
}

.Line-item__quantity {
  color: #000;
  width: 38px;
  height: 21px;
  line-height: 23px;
  font-size: 15px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
}

.Line-item__remove {
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: 0;
  font-size: 20px;
  top: -4px;
  opacity: 0.5;
}

.Line-item__remove:hover {
  opacity: 1;
  cursor: pointer;
}

.add-to-cart-btn {
    background: #0076FF;
    padding: 10px; 
}

.add-to-cart-btn:hover {
    background: #0061d1;
}
