*::selection {
  background: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.view-canvas:active {
  cursor: grabbing;
}
.setting-panel {
  min-width: 200px;
  top: 15%;
  left: 10%;
  opacity: 0.9;
}
.setting-panel:hover {
  opacity: 1;
  background: rgba(255,255,255,0.1);
}
.setting-panel .sidebar-container {
  height: 100%;
}
.setting-panel .sidebar-container .subtitle {
  display: block;
  font-size: 10px;
}
.setting-panel .sidebar-container img {
  height: 90px;
}
.setting-panel .sidebar-container .color-swatch {
  width: 45px;
  height: 20px;
  border: 1px solid white;
}
.screenshot {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all .8s ease;
}
.description-container {
  color: #fff;
  position: fixed;
  top: 12%;
  left: 55%;
  background: rgba(20,20,20,0.3);
  padding: 10px;
}
@media (max-width: 500px) {
  .description-container {
    left: 15%;
 }
}