.slider-container {
  width: 100%;
  height: 100vh;
}
.slider-container .slider-item {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  font-size: 0;
}
.slider-container .slider-item canvas {
  width: 100%;
  height: 100%;
}
.slider-item-bg {
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
}
